.price_allert, .allert_badge {
    border-color: orange !important;
    box-shadow: 0 0 5px 1px orange, 0 0 0 1px orange;
    border: 1px solid orange;
}

.allert_badge {
    border: 1px solid orange;
}

.price_success, .success_badge {
    border-color: green;
    box-shadow: 0 0 5px 1px green, 0 0 0 1px green;
    border: 1px solid green;
}

.success_badge  {
    border: 1px solid green;
}

.price_info, .info_badge {
    border-color: rgba(0,208,228,0.5);
    box-shadow: 0 0 5px 1px rgba(0,208,228,0.3), 0 0 0 1px #00d0e4;
    border: 1px solid #00d0e4;
}

.info_badge {
    border: 1px solid #00d0e4;
}

.price_badge{
    width: 100%;
    top: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.price_badge span{
    background: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding: 0;
    width: 86px; 
    z-index: 9;
}

